@{
    ViewData["Title"] = "404 ERROR";
}

<div class="bg-error d-flex flex-column justify-content-start align-items-center vw-100 vh-100">

    <div class="mt-5 d-flex justify-content-center align-items-center pt-5">
        <img src="~/images/logos/pizzashop_logo.png" width="100px" alt="">
        <h1>PIZZASHOP</h1>
    </div>
    
    <h1 style="margin-top: 200px;" class=" mt-6 text-primary display-1">@ViewData["Title"]</h1>

    <h3> URL not recognized</h3>


</div>