@{
    ViewData["Title"] = "403 ERROR";
}
<div class="bg-error d-flex flex-column justify-content-center align-items-center vw-100 vh-100">

    <div class="d-flex justify-content-center align-items-center pt-5"></div>
        <img src="~/images/logos/pizzashop_logo.png" width="100px" alt="">
        <h1>PIZZASHOP</h1>
    </div>
    <h1 class=" text-primary display-1">@ViewData["Title"]</h1>

    <h3>Access to localhost was deniedYou don't have the user rights to view this page.</h3>
    <h4>HTTP ERROR 403</h4>


</div>
