<div class="pt-4 px-3 d-flex flex-column justify-content-between flex-sm-column flex-md-row flex-wrap">
    <h3 class="text-blue">Add New Event</h3>
    <div class="d-flex gap-3 justify-content-end flex-column flex-sm-column flex-md-row flex-wrap">
        <button class="btn border rounded text-black-50 " id="BackToEventBtn">
            <i class="bi bi-chevron-left"></i>
            Back
        </button>
    </div>
</div>


<div class="w-100 p-3">
    <div class="border w-75 mx-auto">

        <div class="d-flex">
            <div class="form-floating mb-3 col mb-3 mx-2 mt-3">
                <input type="Date" class="form-control" id="EventDate" placeholder="Enter Date">
                <label for="EventDate">Event Date</label>
            </div>
            <div class="form-floating mb-3 col mb-3 mt-3">
                <input type="Date" class="form-control" id="EventDate" placeholder="Enter Date">
                <label for="EventDate">Event Date</label>
            </div>
            <div class="form-floating mb-3 col mb-3 mx-2 mt-3">
                <input type="Date" class="form-control" id="EventDate" placeholder="Enter Date">
                <label for="EventDate">Event Date</label>
            </div>
        </div>
    </div>
</div>



<div class="w-100 p-3">
    <div class="border w-75 mx-auto">

        <div class="d-flex">
            <div class="form-floating mb-3 col mb-3 mx-2 mt-3">
                <input type="Date" class="form-control" id="EventDate" placeholder="Enter Date">
                <label for="EventDate">Event Date</label>
            </div>
            <div class="form-floating mb-3 col mb-3 mt-3">
                <input type="Date" class="form-control" id="EventDate" placeholder="Enter Date">
                <label for="EventDate">Event Date</label>
            </div>
            <div class="form-floating mb-3 col mb-3 mx-2 mt-3">
                <input type="Date" class="form-control" id="EventDate" placeholder="Enter Date">
                <label for="EventDate">Event Date</label>
            </div>
        </div>
    </div>
</div>


<div class="w-100 p-3">
    <div class="border w-75 mx-auto">

        <div class="d-flex">
            <div class="form-floating mb-3 col mb-3 mx-2 mt-3">
                <input type="Date" class="form-control" id="EventDate" placeholder="Enter Date">
                <label for="EventDate">Event Date</label>
            </div>
            <div class="form-floating mb-3 col mb-3 mt-3">
                <input type="Date" class="form-control" id="EventDate" placeholder="Enter Date">
                <label for="EventDate">Event Date</label>
            </div>
            <div class="form-floating mb-3 col mb-3 mx-2 mt-3">
                <input type="Date" class="form-control" id="EventDate" placeholder="Enter Date">
                <label for="EventDate">Event Date</label>
            </div>
        </div>
    </div>
</div>


<div class="w-100 p-3">
    <div class="border w-75 mx-auto">

        <div class="d-flex">
            <div class="form-floating mb-3 col mb-3 mx-2 mt-3">
                <input type="Date" class="form-control" id="EventDate" placeholder="Enter Date">
                <label for="EventDate">Event Date</label>
            </div>
            <div class="form-floating mb-3 col mb-3 mt-3">
                <input type="Date" class="form-control" id="EventDate" placeholder="Enter Date">
                <label for="EventDate">Event Date</label>
            </div>
            <div class="form-floating mb-3 col mb-3 mx-2 mt-3">
                <input type="Date" class="form-control" id="EventDate" placeholder="Enter Date">
                <label for="EventDate">Event Date</label>
            </div>
        </div>
    </div>
</div>